@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

body {
    background-color: #000;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    animation: ease-in-out;
    margin: 0;
    padding: 0;
}

.backbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Boxone {
    background-image: url('countdown .gif');
    background-repeat: no-repeat;
    background-size: 90vw 90vh;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1.5;
}

.Boxtwo {
    width: 60vw;
    height: 50vh;
    backdrop-filter: blur(16px);
    border-radius: 22px;
    background-color: #f8f4f023;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 2rem;
    flex-direction: column;
    opacity: 4;
    display: none;
}

.NewYearInfo {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
    animation-name: TextOpening;
    animation-timing-function: steps(200, end);
    animation-duration: 6000ms;
    font-size: 5rem;
    font-family: 'Style Script', cursive;
    text-align: center;
    font-weight: bold;
    display: none;
}

.NewYearMessage {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
    animation-name: TextOpening;
    animation-timing-function: steps(200, end);
    animation-duration: 10000ms;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    display: none;
}

@keyframes TextOpening {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

@media screen and (max-width: 1030px) {

    .NewYearInfo {
        font-size: 1.5rem;
        white-space: normal;
    }

    .NewYearMessage {
        font-size: 8px;
        white-space: normal;
    }

    .Boxone {
        background-size: 95vw 25vh;
        width: 95vw;
        height: 25vh;
    }

    .Boxtwo {
        width: 70vw;
        height: 14vh;
        opacity: 2.4;
        backdrop-filter: blur(3px);
    }

}